@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
    font-size: 1.2rem;
    text-align: center;
}

body{
    width: 100vw;
    background-color: rgb(173, 173, 173);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hide{
    display: none;
}
.container{
    padding: 30px 15px;
    margin-top: 10vh;
    width: 90vw;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 2px 2px 20px gray;
    display: grid;
    grid-template-columns: repeat(auto-fit,250px);
    row-gap: 25px;
    justify-content: space-evenly;
}
p{
    width: 70%;
}
.card{
    cursor: pointer;
    height: 350px;
    border-radius: 7px;
    background-color: rgb(255, 197, 89);
    border: 1px solid rgb(255, 174, 0);
    transform-style: preserve-3d;
    transition: 600ms;
}
.front,.back{
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
.back{
    color: #fff;
    background-color: #734dcc;
    transform: rotateY(180deg);
}
.card:hover{
    transform: rotateY(180deg);
    border: 1px solid #734dcc;
}





